@* @{
    Layout = null;
}

   <!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error 404 - Aradığınız Sayfa Bulunamadı!</title>
    <link rel="stylesheet" type="text/css" href="~/simple-404-template-master/assets/css/style.css" />
    <link href="./assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
    <div class="container">
        <img class="ops" src="~/simple-404-template-master/assets/images/404.svg" />
        <br />
        <h3>
            Ooooppsss! Aradığınız Sayfa Bulunamadı
        </h3>
        <br />
        <a class="buton" href="/Default/Index/">Ana Sayfaya Dön</a>
    </div>
</body>

</html> *@

@{
    Layout = null;  // ya da senin kullandığın layout dosyası
    ViewData["Title"] = "Sayfa Bulunamadı";
    //Response.StatusCode = 404;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error 404 - Aradığınız Sayfa Bulunamadı!</title>
    <link href="~/404-error-page3/dist/style.css" rel="stylesheet" />
    <link href="~/404-error-page3/src/style.css" rel="stylesheet" />

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>

</head>

<body>

    <section class="page_404">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="col-sm-10 col-sm-offset-1  text-center">
                        <div class="four_zero_four_bg">
                            <h1 class="text-center ">404</h1>


                        </div>

                        <div class="contant_box_404">
                            <h3 class="h2">
                                Ooooppsss!
                            </h3>

                            <p>  Aradığınız Sayfa Bulunamadı</p>
                            <a class="link_404" href="/Default/Index/">Ana Sayfaya Dön</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
