@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <!-- google fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Traversal-Liberty/assets/css/style-liberty.css">
    <!-- Template CSS -->
</head>

<body>
    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container py-2">
                <h2 class="title">Hakkımızda</h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="/Default/Index/">Anasayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hakkımızda </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="w3l-cta4 py-5">
        <div class="container py-lg-5">
            <div class="ab-section text-center">
                <h6 class="sub-title">Hakkımızda</h6>
                <h3 class="hny-title">Hayalindeki Tatil Traversal'da</h3>


            </div>
            <div class="row mt-5">
                <div class="col-md-9 mx-auto">
                    <p class="py-3 mb-3">
                        Seyahat tutkunları, maceraperestler, kâşifler; doğal güzelliklerin, lezzetin ya da tarihin izlerini sürmek isteyenler... Traversal’da çok özel programlar sunan turlar ile heyecan dolu deneyimler sizi bekliyor! İster Yurt Dışı Turları ister Cruise Turları ile dünyanın dört bir köşesinde, kısa ya da uzun süreli, yakın ya da uzak mesafede bir tatil planlayıp yepyeni hikâyelerin peşine düşebilirsiniz.
                    </p>
                    <p class="py-3 mb-3">
                        Misafir memnuniyeti odaklı satış öncesi ve sonrası hizmetler geliştirmek, kaliteli ve hayal edilen tatiller sunmak en büyük hedefimiz. Bu amaçla bu bölümde, çalışmalarımıza ışık tutması amacıyla dilek, öneri ve eleştirilerinizi değerlendiriyoruz.

                        Seyahat ile ilgili sayısız fırsatı bünyesinde barındıran Traversal, elde ettiği deneyim ve uzman kadrosuyla tatil ve seyahat fırsatlarının en önde gelen ismi olmuştur. Traversal.com üzerinde dünyanın ve Türkiye'nin pek çok yerine gerçekleştirilen unutulmaz tatil seçeneklerini indirimli olarak bulabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- //about-6-->
    <!-- /content-6-->
    <section class="w3l-content-6 py-5">
        <div class="container py-lg-5">
            <div class="row">
                <div class="col-lg-6 content-6-left pr-lg-5">
                    <h6 class="sub-title">Traversal</h6>
                    <h3 class="hny-title">Cruise Turları</h3>
                </div>
                <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
                    <p class="mb-3">
                        Deniz üzerinde konfor dolu bir tatil deneyimi sunan Cruise Turları ile her sabah farklı bir limanda uyanmaya hazır olun! Akdeniz’den Norveç fiyortlarına, Yunanistan’dan Karayipler’e kadar birbirinden etkileyici rotalar ile bir seyahatte birden fazla ülke keşfedebilir, yolculuk boyunca gemideki restoran, havuz, SPA, eğlence ve daha birçok olanaktan faydalanabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <section class="w3l-content-6 py-5">
        <div class="container py-lg-5">
            <div class="row">
                <div class="col-lg-6 content-6-left pr-lg-5">
                    <h6 class="sub-title">Traversal</h6>
                    <h3 class="hny-title">Yurt Dışı Turları</h3>
                </div>
                <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
                    <p class="mb-3">
                        ETS’deki yurt dışı turları ile dünyayı planlı ve keyifli bir şekilde keşfetmek mümkün. Avrupa’dan Uzak Doğu’ya, Amerika’dan Afrika’ya kadar birçok farklı coğrafyayı kapsayan rotalar; kültür, tarih, doğa ve gastronomi tutkunları için zengin içerikler sunuyor. Türkçe rehberlik, vize hizmeti, seyahat sağlık sigortası ve farklı uçuş alternatifleriyle detaylı olarak planlanan bu turlarda, kısa süreli şehir gezilerinden kapsamlı kültür turlarına kadar pek çok seçenek bulunuyor.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <section class="w3l-content-6 py-5">
        <div class="container py-lg-5">
            <div class="row">
                <div class="col-lg-6 content-6-left pr-lg-5">
                    <h6 class="sub-title">Traversal</h6>
                    <h3 class="hny-title">Özel Günler İçin Cruise Turları</h3>
                </div>
                <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
                    <p class="mb-3">
                        Bayram, yılbaşı ve sömestir gibi özel dönemlerde düzenlenen temalı cruise programlarıyla tatilinize ayrı bir renk katabilir, sevdiklerinizle birlikte denizin ortasında unutulmaz anılar biriktirebilirsiniz. ETS güvencesiyle yerinizi ayırtıp dünyayı konforla gezmenin tadını çıkarabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- //content-6-->
    <section class="w3l-grids1">
        <div class="hny-three-grids py-5">
            <div class="container py-lg-5">
                <div class="row">
                    <div class="col-md-4 col-sm-6 mt-0 grids5-info">
                        <a href="#url"><img src="~/Traversal-Liberty/assets/images/g1.jpg" class="img-fluid" alt=""></a>
                        <h4><a href="#url">Misyonumuz</a></h4>
                        <p>En kaliteli ve cazip seyahat fırsatlarını kullanıcılarımıza en uygun fiyat ve koşullar ile sunmak.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mt-sm-0 mt-5 grids5-info">
                        <a href="#url"><img src="~/Traversal-Liberty/assets/images/g2.jpg" class="img-fluid" alt=""></a>
                        <h4>
                            <a href="#url">
                                Vizyonumuz
                            </a>
                        </h4>
                        <p>Türkiye'nin lider online seyahat platformu olmak.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mt-md-0 mt-5 grids5-info">
                        <a href="#url"><img src="~/Traversal-Liberty/assets/images/g3.jpg" class="img-fluid" alt=""></a>
                        <h4><a href="#url">Değerlerimiz</a></h4>
                        <p>Traversal, üyeleri ve çalıştığı hizmet sağlayıcı işletmeler ile her zaman kazan-kazan prensiplerine bağlı olarak, açık ve şeffaf bir ilişki içindedir.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Template JavaScript -->
    <script src="~/Traversal-Liberty/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Traversal-Liberty/assets/js/theme-change.js"></script>
    <!-- stats number counter-->
    <script src="~/Traversal-Liberty/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/Traversal-Liberty/assets/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats number counter -->
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>