@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Traversal</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

@await Html.PartialAsync("/Views/LayoutPartial/_HeaderPartial.cshtml")

<body>
    <!--header-->
    @await Html.PartialAsync("/Views/LayoutPartial/_NavbarPartial.cshtml")

    @RenderBody()

    <!--footer-->
    @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")

    <!--script-->
    @await Html.PartialAsync("/Views/LayoutPartial/_ScriptPartial.cshtml")

</body>
</html>
